@charset "UTF-8";

body {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background: #000;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #fff;
    font-family: Roboto, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    font-size: 13px;
}
